* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Body */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F0F8FF;
    color: #0B3D91;
    font-family: YSText, Helvetica, Arial, sans-serif;
}

h2 {
    text-transform: uppercase;
    text-align: center;
    margin-top: 10px;
}

.heading {
    box-shadow: 5px 5px 10px #092e6d;
    margin: 5px 0 10px 0;
}

.join-side {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sides {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sides input[type="radio"] {
    display: none;
}

.sides img {
   /* The radio-button "side" is a circle.*/
   width: 30vw; 
   height: auto;
   margin: 5px;
   padding: 0.5rem;
   border: 2px solid #0B3D91;
   border-radius: 50%;
   background-color: #a9a9a9b6;
}

.sides input[type="radio"]:checked + label img {
    background-color: #ff4400b2;
  }

  .sides img:hover {
    background-color: #892be295;
  }

.game-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.game-types {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-map {
    /* The button "map" is square.*/
    width: 50vw; 
    height: auto;
    padding-bottom: 50vw; 
    border-radius: 5px;
    border: 2px solid #0B3D91;
    cursor: pointer;
    margin: 1rem;
}
.game-map[data-page="game-map1"] {
    background: url('../images/map1.webp') no-repeat center/cover;
}

.game-map[data-page="game-map2"] {
    background: url('../images/map2.webp') no-repeat center/cover;
}

.game-map:hover {
    border: 3px solid #ff4400b2;
    opacity: 0.6;
}

.leaderboard {
    margin-top: 1rem;
    padding: 1rem 3rem;
    background-color: #a9a9a9b6;
    color: #0B3D91;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.leaderboard:hover{
    border: 3px solid #ff4400b2;
}

/* game.html */

/* body */
.image-map1{
    background: url('../images/map1.webp') no-repeat center/cover;
}

.image-map2{
    background: url('../images/map2.webp') no-repeat center/cover;
}

/* header */
.game-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 99;
    width: 100%;
    height: 45px;
    box-shadow: 0 3px 3px #7d919ea0;
    background-color: #f0f8ff97;
}

.game-header a {
    margin-left: 10px;
    text-decoration: none;
    color: inherit;
    font-size: 180%;
}

.scores {
    display: flex;
    flex-direction: row;
    align-items:flex-end;
}
.side-score {
    display: flex;
    flex-direction: row;
    align-items:center;
    margin: 3px 0 0 5px;
    padding: 5px;
}

.side-score img {
    width: 40px; 
    height: auto;
   
   border: 2px solid #0B3D91;
   border-radius: 50%;
   background-color: #a9a9a9b6;
}

.side-score p {
    width: 40px;
    margin-left: 10px;
    text-align: center;
}
/* leaderboard.html */

#leader-table {
    width: 95%;
    margin: 5px;
}

.center-text {
    text-align: center;
}

/* Media query: tablets and larger(768px and up)*/
@media screen and (min-width: 768px) {

    .sides img {
        width: 5vw;
    }

    /* Maps are displayed in a row. */
    .game-types {
        flex-direction: row;
     }

     /* The button "map" is square.*/
    .game-map {
        width: 15vw; 
        height: auto; 
        padding-bottom: 15vw; 
    }

    .leaderboard {
        padding: 1rem 1rem;
    }
}
