* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
h2 {
    text-transform: uppercase;
    text-align: center;
    margin-top: 10px;
}

ul {
    list-style-position: inside;
    list-style-type: disclosure-closed;
    margin: 5px;
}

/* body */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F0F8FF;
    color: #0B3D91;
    font-family: YSText, Helvetica, Arial, sans-serif;
}

/* Header */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    letter-spacing: 1px;
    z-index: 99;
}

header h1 {
    flex: 1 0 auto;
    text-align: center;
    text-decoration: underline;
    margin: 5px 0 10px 0;
}

header a {
    text-decoration: none;
    color: inherit;
}

header a:hover,
#volume+label .volume-on:hover,
#volume+label .volume-off:hover {
    color: #ff4400b2;
}

.header-buttons {
    z-index: 98;
    font-size: 160%;
}

.header-buttons a {
    padding: 0 15px;
}

#volume {
    display: none;
}

#volume+label .volume-on {
    display: none;
}

#volume:checked+label .volume-off {
    display: none;
}

#volume:checked+label .volume-on {
    display: inline;
}

/* game.html */
.game-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 99;
    width: 100%;
    height: 45px;
    box-shadow: 0 3px 3px #7d919ea0;
    background-color: #f0f8ff97;
}

.scores {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.side-score {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 3px 0 0 5px;
    padding: 5px;
}

.side-score img {
    width: 40px;
    height: auto;
    padding: 2px;
    border: 2px solid #0B3D91;
    border-radius: 50%;
    background-color: #a9a9a9b6;
}

.side-score p {
    width: 40px;
    margin-left: 10px;
    text-align: center;
    font-weight: bold;
    font-size: large;
}

#user-side {
    color: #ff4400;
}

#user-side img {
    background-color: #ff4400b2;
}

/* Main */
main {
    /* Enlarge main element to push footer down*/
    flex: 1 0 auto;
    /* Enable flex properties for child elements */
    display: flex;
    flex-direction: column;
    width: 100%;
    /* Add margin for all gages without Game page*/
    margin-top: 50px;
}

/* index.html */

.join-side {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sides {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sides fieldset {
    border: none;
}

.sides input[type="radio"] {
    display: none;
}

.sides img {
    /* The radio-button "side" is a circle.*/
    width: 30vw;
    height: auto;
    margin: 5px;
    padding: 0.5rem;
    border-radius: 50%;
    background-color: #a9a9a9b6;
    transform: scale(0.90);
}

.sides input[type="radio"]:checked+label img {
    background-color: #ff4400b2;
    box-shadow: inset 0 0 8px rgba(0, 0, 0);
}

.sides img:hover {
    background-color: #892be295;
}

.game-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-types {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-map {
    /* The button "map" is square.*/
    width: 50vw;
    height: 50vw;
    border-radius: 5px;
    border: 2px solid #0B3D91;
    cursor: pointer;
    margin: 1rem;
    /* Hide the text of the button*/
    color: transparent;
    overflow: hidden;
    white-space: nowrap;
}

.game-map[data-page="game-map1"] {
    background: url('../images/map1.webp') no-repeat center/cover;
}

.game-map[data-page="game-map2"] {
    background: url('../images/map2.webp') no-repeat center/cover;
}

.game-map:hover {
    border: 3px solid #ff4400b2;
    opacity: 0.6;
}

.leaderboard {
    margin-top: 1rem;
    padding: 1rem 3rem;
    background-color: #a9a9a9b6;
    color: #0B3D91;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.leaderboard:hover {
    border: 3px solid #ff4400b2;
}

/* game.html */
.game-main {
    /* Clear the value*/
    margin-top: 0;
}

.game-cursor {
    /*Use the special cursor for the game place*/
    cursor: url('../images/target.png'), auto;
}

.game-map1 {
    background: url('../images/map1.webp') no-repeat center/cover;
}

.game-map2 {
    background: url('../images/map2.webp') no-repeat center/cover;
}

.game-body {
    z-index: 98;
}

.ship {
    position: absolute;
    width: 50px;
    height: 50px;
    /*padding-bottom: 50px;*/
    margin: 0;
    border: none;
    /*Use the special cursor for the game place*/
    cursor: url('../images/target.png'), auto;
    /* Hide the text of the button*/
    color: transparent;
    overflow: hidden;
    white-space: nowrap;
}

.millennium-falcon {
    background: url('../images/millennium-falcon.webp') no-repeat center/cover;
}

.star-destroyer {
    background: url('../images/star-destroyer.webp') no-repeat center/cover;
}

.starfighter {
    background: url('../images/starfighter.webp') no-repeat center/cover;
}

.starkiller {
    background: url('../images/starkiller.webp') no-repeat center/cover;
}

.x-wing {
    background: url('../images/x-wing.webp') no-repeat center/cover;
}

#balance-ships {
    width: 100%;
    text-align: right;
    position: absolute;
    top: 50px;
    right: 5px;
    color: #f0f8ff97;
    font-weight: bold;
}

/* game-rules.html */
.gr-small-image {
    width: 50px;
    height: 50px;
}

.gr-big-image {
    width: 100%;
    height: auto;
}

/* leaderboard.html */
#leader-table {
    width: 100%;
    padding: 10px;
}

.center-text {
    text-align: center;
}

.user-score {
    margin-top: 10px;
    font-size: 150%;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.save-score {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 1rem;
}

.text-input {
    border-radius: 5px;
    margin: 10px;
    padding: 0 5px;
    height: 25px;
}

.save {
    padding: 0.3rem 0.7rem;
    background-color: #a9a9a9b6;
    color: #0B3D91;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
}

.save:hover {
    background-color: #ff4400b2;
}

/* footer */
footer {
    margin: 5px 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}

footer a {
    text-decoration: none;
    color: #CC2C1F;
    font-size: 120%;
    padding: 0 15px;
}

#red-heart {
    color: #CC2C1F;
}

/* aside */
/* game.html */
.game-over {
    flex: 1 0 auto;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 150%;
    margin-top: 50px;
}

.game-over p {
    margin: 1rem;
    font-weight: bold;
}

/* General class which applies in the end*/
.hidden {
    display: none;
}

/* Media query: tablets and larger(768px and up)*/
@media screen and (min-width: 768px) {

    /* Header */
    /* leaderboard.html */
    .game-header h1 {
        position: absolute;
        text-align: center;
        margin: 0;
        width: 100%;
    }

    /* Main */
    /* index.html */
    .sides img {
        width: 5vw;
    }

    /* Maps are displayed in a row. */
    .game-types {
        flex-direction: row;
    }

    /* The button "map" is square.*/
    .game-map {
        width: 15vw;
        height: 15vw;
    }

    .leaderboard {
        padding: 1rem 1rem;
    }

    /* game-rules.html */
    .gr-big-image {
        width: 440px;
        height: 190px;
    }
}